<div class="wrapper">


    <nav>
           
          <img src="../../../assets/images/logo.png" alt="logo">
    
          <ul>
              <li>
                  <a href="http://localhost:4200/landing">HOME</a>
              </li>
              
          </ul>
     </nav>
    
  
    
     </div>

<div class="column" style="background-color: #bbb;">

<h2>Registered Student Details</h2>
<h4>Click on user to Delete</h4>


<div *ngFor="let item of student">

    <p (click)="deleteUser(item.payload.doc.id)"> Details: {{ item.payload.doc.data().name }}  {{ item.payload.doc.data().surname }} <br>{{ item.payload.doc.data().course }} <br> {{ item.payload.doc.data().contact }} <br> {{ item.payload.doc.data().address }}</p>
</div>

<button><a href="http://localhost:4200/landing">UPDATE</a></button>


</div>





           